.about {
    position: relative;
    background-image: url(../img/about-bg.webp);
    background-repeat: no-repeat;
    background-position: left 50px bottom 100px;
    background-size: 85% 15%;
    border-bottom: 1px solid var(--border);
}

.bg {
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
    height: 850px;
    opacity: .2;
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    z-index: -1;
}

.bg-2 {
    background-image: url(../img/bg-2.webp);
    background-repeat: no-repeat;
    background-position:  right center;
    background-size: 900px 100%;
    transform: scale(-1, 1);
    height: 800px;
    opacity: .2;
    position: absolute;
    top: 25%;
    left: -100px;
    width: 100%;
    z-index: -1;
}

.about-text {
    padding-top: 100px;
    margin-bottom: 70px;
}

.about-text:nth-last-of-type(1) {
    padding-top: 30px;
    text-align: center;
}

.text-decoration {
    color: var(--orange);
    border-bottom: 1px dashed var(--orange);
}

.about__block {
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
    margin-bottom: 40px;
}

.about__block:nth-last-of-type(2) {
    justify-content: start;
}

.block__text {
    width: 50%;
}

.block__img {
    border: 2px solid var(--white);
    border-radius: 10px;
    width: 40%;
}

.about__work {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

.work__title {
    font-weight: 600;
    width: 35%;
    font-size: 20px;
}

.work__text {
    width: 50%;
}

.work__list .list__item {
    background-color: rgba(218, 255, 201, 0.7);
    padding: 40px;
    border-radius: 10px;
    border: 2px solid var(--white);
}


.work__list .list__item:before {
    content: '一';
    margin-right: 10px;
    color: var(--orange);
}

.work__list .list__item:first-child {
    margin-bottom: 20px;
}

.center__text {
    margin-bottom: 40px;
    max-width: 80%;
}

.center__text:last-child {
    margin-bottom: 40px;
}

.about__swiper {
    width: 57%;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 40px;
    outline: 2px solid var(--white);
}

.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide-1 {
    background-image: url(../img/slide1.webp);
}

.swiper-slide-2 {
    background-image: url(../img/slide2.webp);
}

.swiper-slide-3 {
    background-image: url(../img/slide3.webp);
}

.swiper-slide-4 {
    background-image: url(../img/slide4.webp);
}

.swiper-slide-5 {
    background-image: url(../img/slide5.webp);
}

.swiper-slide-6 {
    background-image: url(../img/slide6.webp);
}

.swiper-slide-7 {
    background-image: url(../img/slide7.webp);
}

.about__swiper .swiper-pagination-bullet-active {
    background: var(--white);
}

.center__swiper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.center__swiper .center__text {
    width: 40%;
    margin: 0;
}


.specialists__list {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.specialists__list .list__item {
    display: flex;
    flex-direction: column;
    width: 48%;
    border-radius: 30px;
    padding: 40px;
    background-color: rgba(255, 230, 184, 0.5);
    border: 2px solid var(--white);
}

.specialists__list .list__item::before {
    content: "";
}

.specialists__list .item__icon {
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
    background-color: var(--white);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.specialists__list .item__icon::before {
    content: '';
    display: block;
    position: absolute;
    top: 14%;
    left: 13%;
    width: 70px;
    height: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 53px;
}

.specialists__list .list__item:nth-of-type(1) .item__icon::before {
    background-image: url(../icon/about-specialist1.png);
    top: 10%;
    left: 11%;
}

.specialists__list .list__item:nth-of-type(2) .item__icon::before {
    background-image: url(../icon/about-specialist2.png);
}

.specialists__list .item__title {
    color: var(--orange);
    margin-bottom: 40px;
    line-height: 30px;
}

.specialists__list .list__item:first-child {
    margin-bottom: 0px;
}

.about__specialists {
    margin-bottom: 90px;
}

.technologies__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
}

.technologies__descr {
    margin-bottom: 40px;
}

.technologies__descr:nth-last-of-type(2) {
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    background: none;
}

.technologies__text:nth-last-of-type(1),
.technologies__text:nth-last-of-type(2) {
    background-color: rgba(229, 183, 255, 0.3);
    border: 2px solid var(--white);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.technologies__text:nth-last-of-type(2) {
    margin-bottom: 40px;
    width: 80%;
    margin-right: 120px;
}

.technologies__text:nth-last-of-type(1) {
    width: 75%;
    margin-bottom: 40px;
}

.technologies__list {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}

.technologies__list .list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% / 3) - 40px);
    background: var(--white);
    border-radius: 10px;
    border: 2px solid rgba(229, 183, 255, 0.2);
    padding: 20px;
    box-shadow: 7px 7px 7px rgba(229, 183, 255, 0.2);
}

.technologies__list .item__img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.technologies__list .item__img:nth-last-of-type(4) {
    width: 90px;
    height: 90px;
}

.technologies__list .item__text {
    width: 100%;
    text-align: center;
}