.hero {
    background-image: url(../img/banner.webp);
    background-color: var(--tibet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    padding-top: 220px;
    padding-bottom: 150px;
    position: relative
}

.hero .container {
    position: relative;
    z-index: 1
}

.hero__title {
    display: inline-block;
    font-weight: 500;
    font-size: 33px;
    color: var(--white);
    width: 620px;
    margin-bottom: 20px;
    line-height: 50px
}

.hero__text {
    width: 600px;
    font-size: 20px;
    margin-bottom: 70px;
    line-height: 35px;
    color: var(--white)
}

.hero__btn {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    background: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 6px;
    text-align: center;
    -webkit-transition: color .3s, background .3s, border .3s;
    -o-transition: color .3s, background .3s, border .3s;
    transition: color .3s, background .3s, border .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 45px;
    font-size: 16px;
}

.hero__btn:hover {
    background-color: var(--hover-orange)
}