.video {
    background-color: var(--bg-blue);
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--border);
    -webkit-box-shadow: 0px 5px 10px var(--border);
    box-shadow: 0px 5px 10px var(--border)
}

.video__title, .photo__title {
    font-size: 30px;
    font-weight: normal;
    max-width: 40%;
    margin-right: 50px;
    padding-left: 70px;
    line-height: 50px;
}

.video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video__video {
    max-width: 60%;
    border-radius: 20px;
}