.hero{
    background-image: url(../img/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    padding-top: 150px;
}

.hero__descr {
    color: var(--white);
    margin-bottom: 20px;
}

.hero__title {
    margin-bottom: 20px;
    font-weight: 500;
}

.hero__text {
    margin-bottom: 40px;
    max-width: 40%;
}

.hero__btn {
    padding: 0px 30px;
    margin-bottom: 150px;
    background-color: var(--orange);
    line-height: 45px;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color .3s;
}

.hero__btn:hover {
    background-color: var(--hover-orange);
}