.call-back {
    padding-bottom: 60px;
    border-bottom: 1px solid var(--border);
}

.call-back__container {
    display: flex;
    justify-content: space-between;
}

.call-back__text {
    flex-basis: 70%;
    padding-top: 50px;
}

.call-back .title {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 60px;
}

.call-back__descr {
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 60px;
    max-width: 300px;
}

.call-back__img {
    max-height: 430px;
    max-width: 100%;
}

.specialists__call-btn,
.call-back__btn {
    padding: 0px 40px;
    background-color: var(--orange);
    white-space: nowrap;
    line-height: 45px;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color .3s;
}

.specialists__call-btn:hover,
.call-back__btn:hover {
    background-color: var(--hover-orange);
}