.swiper-title {
    padding-top: 50px;
    border-top: 1px solid var(--border);
}

.swiper-title__title {
    font-size: 30px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}


.swiper-descr {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.swiper-photo {
    width: 100%;
    height: 700px;
    background-color: var(--bg-blue);
    margin-bottom: 150px;
}

.swiper-photo>.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-photo .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    display: none;
}

.photo-img {
    height: 100%;
}

.swiper-photo .swiper-slide { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 75%;
}

.photo-slide-1 {
    background-image: url(../img/ugmk.webp);
}

.photo-slide-2 {
    background-image: url(../img/palata-stacionara.webp);
}

.photo-slide-3 {
    background-image: url(../img/palata-stacionara-2.webp);
}

.photo-slide-4 {
    background-image: url(../img/vestibul.webp);
}

